
{{ define "main" }}
<main>

    {{- with .Title }}
    <h1 class="page-title">{{ . }}</h1>
    {{- end }}

    {{ with (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        {{- $byyear := (where . ".Draft" false).GroupByDate "2006" -}}

        {{- range $byyear -}}
    <h2>{{ .Key }}</h2>

    <ul>
        {{ range.Pages }}
            <li> <time>{{ .Date.Format "2/1" }}</time>
                <span> - </span>
                <a href="{{ .Permalink }}">
                    <span>{{ .Title }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
        {{- end -}}
    {{ end }}

</main>
{{ end }}
