<article class="blog-post-summary" aria-labelledby="post-{{ .File.UniqueID }}">
    <h3 class="blog-post-title" id="post-{{ .File.UniqueID }}">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>

    <p class="blog-post-info">
        {{ i18n "postedOn" | default "Posted" }}:
        <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date | time.Format (i18n "dateFormat" | default ":date_long") }}
        </time>
        {{ partial "blog-taxonomy-info" . }}
    </p>

    <p class="blog-post-summary">
        {{- .Summary -}}
        <a href="{{ .Permalink }}" class="read-more" aria-label="{{ i18n "readMoreAbout" }} {{ .Title | safeHTML }}">
            {{ i18n "readMore" }}
        </a>
    </p>
</article>
