{{ with .Params.Categories }}
    <span class="blog-taxonomy-info">
        {{ if not ($.Params.Tags) }} &nbsp; | &nbsp; {{ end }}
        {{ i18n "categories" | default "Categories" }}:
        {{ $sort := sort . }}
        {{ $links := apply $sort "partial" "post-category-link" "." }}
        {{ $clean := apply $links "chomp" "." }}
        {{ delimit $clean ", " | safeHTML }}
    </span>
{{ end }}

{{ with .Params.Tags }}
    <span class="blog-taxonomy-info">
        {{ if $.Params.Categories }} &nbsp; | &nbsp; {{ end }}
        {{ i18n "tags" | default "Tags" }}:
        {{ $sort := sort . }}
        {{ $links := apply $sort "partial" "post-tag-link" "." }}
        {{ $clean := apply $links "chomp" "." }}
        {{ delimit $clean ", " | safeHTML }}
    </span>
{{ end }}
