
<header class="page-header">
    <!-- Name in large letters -->
    <div class="myname"> 
        <h2><a href="/">{{ default .Site.Params.Author .Site.Params.siteHeading }}</a></h2> 
    </div>

    {{- /* Links to the tabs */ -}}
    <nav>
        <ul class="navbar">
            {{ $currentPage := . }}
            {{- range .Site.Menus.main -}}
                {{- if .HasChildren -}}
                    <li class="dropdown {{ if $currentPage.HasMenuCurrent "main" . }}activetab{{ end }}">
                            <a href ="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        <div class=sub-menu>
                        {{ range .Children }}
                                <a class="{{- if $currentPage.IsMenuCurrent "main" . -}}activetab{{- end -}}" href="{{- .URL -}}">{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </li>
                {{- else -}}
                <li class="
                {{- if $currentPage.IsMenuCurrent "main" . -}}
                    activetab
                {{- end -}}
                ">
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </nav>
</header>
