
<head>
    <title>{{ .Site.Title }} {{ with .Title }}- {{ . }} {{ end }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/fonts.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/fontawesome.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL }}">
    {{ with resources.Get "css/userstyles.css" }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}">
    {{ end }}
    {{ with .Site.Params.favicon }}
    <link rel="icon" href="{{ . | relURL }}">
    {{ end }}
    <meta charset="UTF-8">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
