<head>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <meta charset="UTF-8">
    <meta name="author" content="{{ .Site.Params.AuthorName }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Site.Params.disqus }}
    {{- partial "disqus-head-script" . }}
    {{- end -}}
</head>
