
<head>
    <title>{{ .Site.Title }} {{ with .Title }}- {{ . }} {{ end }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/fonts.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/fontawesome.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | absURL }}">
    <link rel="icon" href={{ "img/icon.png" | absURL }}>
    <meta charset="UTF-8">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Site.Params.disqus }}
    {{- partial "disqus-head-script" . }}
    {{- end -}}

    {{ range .AlternativeOutputFormats }}
        {{- printf `    <link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>
