{{ define "main" }}
    <main>
        {{ .Content }}

        {{- /* By default, don't show latest from the blog */ -}}
        {{ if default false site.Params.showBlogLatest }}
            {{ with (where (where .Site.RegularPages.ByDate.Reverse ".Section" "eq" "blog") ".Params.draft" "!=" true) }}
            <p class="delimiter">&diams; &diams; &diams;</p>

            {{ $blogLatest := default "Latest from the blog" site.Params.blogLatestHeading }}
            <h2 id="latest-blog-home">{{- $blogLatest -}}</h2>

                {{ range first (default 3 site.Params.nBlogLatest) . }}
                    {{- partial "blog-entry-summary" . -}}
                {{ end }}
            {{ end }}
        {{ end }}

    </main>
{{ end }}
