<div class="resume-entry">
    <!-- What the resume entry is about (degree program, work, etc.) -->
    {{ with .Get "what" }}
    <p class="what">{{ . }}</p>
    {{ end }}

    {{ $where := false }}
    {{ $when := false }}

    {{/* Where was the thing you did? (e.g. Mozilla) */}}
    {{ with .Get "where" }}{{ $where = . }}{{ end }}

    {{/* When did you do it? (e.g. 2020) */}}
    {{- with .Get "when" }}{{ $when = . }}{{ end }}

    {{ if and $where $when }}
    <p class="resume-entry-data"><span class="where">{{ $where }}</span> |
    <span class="when">{{ $when }}</span></p>
    {{ else if $where }}
    <p class="resume-entry-data"><span class="where">{{ $where }}</span></p>
    {{ else if $when }}
    <p class="resume-entry-data"><span class="when">{{ $when }}</span></p>
    {{ end }}

    {{/* additional HTML under or as the entry */}}
    {{ if gt (len .Inner) 0 }}
    <div class="resume-inner">
        {{ .Inner }}
    </div>
    {{ end }}
</div>
